we start The vi using this command :
sudo vi /etc/systemd/system/dump-database.service
Then we type the following code :  
[Unit]
Description=Start database backup by executing dump_database

[Service]
WorkingDirectory=/home
Type=simple
ExecStart=/home/younes/dump_database.sh  

